<div class="page-header">
<div class="row show-grid">
	 <div class="col-md-8"><h2>Treebook Buzz Feed</h2></div>
	 <div class="col-md-4"><%= link_to "Post a New Status", new_status_path, class: "btn btn-primary btn-sm" %></div>
</div>
</div>



<% @statuses.each do |status| %>
	<blockquote>
	<p>
		<%= status.content %>
	</p>
		<small><cite title="Source Title"><%= status.name %></cite></small>
	</blockquote>
	<div class="meta">
		<small><%= link_to time_ago_in_words(status.created_at) + " ago", status %></small>
		<span class="admin">
			<small>| <%= link_to "Edit", edit_status_path(status) %> |</small>
			<small><%= link_to "Delete", status, method: :delete, data: {confirm: "Are you sure you want to delete this status"} %></small>
		</span>
		
	</div>
<% end %>